/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
}

/* Header Styling */
header {
    background-color: #222831;
    color: #EEEEEE;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Navigation Styling */
nav ul {
    list-style: none;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

nav li {
    display: block; 
    margin-right: 0; 
    margin-bottom: 10px; 
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
    display: inline-block; 
    padding: 10px; 
}

nav a:hover {
    color: #00ADB5;
}

/* Media query for smaller screens Nav */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 0; 
    }

    nav li {
        margin-bottom: 0; 
    }
}

/* Main Content Styling */
main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Default styles for larger screens Hero */
.hero {
    position: relative;
    background-color: #222831;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #00ADB5;
}

.hero p {
    font-size: 1.2rem;
}

/* Media query for smaller screens Hero */
@media (max-width: 768px) {
    .hero {
        padding: 80px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}

.how-it-works {
    font-size: 20px;
}


/* Course Card Styling */
.course-card {
    border: 1px solid #747474;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: #393E46;
    color: #fff;
}

.course-card img {
    max-width: 100%;
    height: auto;
}

/* Button Styling */
.btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #222831;
}

.language-selection {
    font-size: 14px;
    color: rgb(0, 0, 0);
    width: 200px;
}


/* Footer Styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}

/* Contact Form Styling */
.contact-form {
    padding: 2rem;
    text-align: center;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-form p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #222831;
}

/* Login Form Styling */
.login-form {
    padding: 2rem;
    text-align: center;
}

.login-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #222831;
}

.login-form a {
    color: #333;
    text-decoration: underline;
}

/* Register Form Styling */
.register-form {
    padding: 2rem;
    text-align: center;
}

.register-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.register-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.register-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-form button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #00ADB5;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-top: 1rem;
}

.register-form button:hover {
    background-color: #222831;
}


.sidebar {
    flex-basis: 25%;
    padding-right: 2rem;
}

.search-bar {
    margin-bottom: 1rem;
}

.search-bar input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    display: block;
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #00ADB5;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* My Account Page Styling */
.my-account-page {
    padding: 2rem;
}

/* Progress Styling */
.progress h2,
.active-courses h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.course-progress,
.active-course {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.course-progress h3,
.active-course h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.course-progress p,
.active-course p {
    font-size: 1rem;
}


/* Style for the option elements */
.language-selection option {
    padding: 8px;
    font-size: 12px; 
}


/* Course Details Styling */
.course-details {
    padding: 2rem;
    text-align: center;
}

.course-header {
    margin-bottom: 1rem;
}

.course-level {
    color: #777;
}

.course-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.course-description {
    margin-bottom: 1.5rem;
}

.course-enroll {
    margin-top: 1.5rem;
}

.enroll-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.enroll-btn:hover {
    background-color: purple;
}

/* Course Details Section */
.course-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.course-header {
    flex: 1;
}

.course-header h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.course-level {
    font-size: 1rem;
    color: #888;
}

.course-image {
    flex: 1;
}

.course-image img {
    max-width: 25%;
    height: auto;
    mix-blend-mode: darken;
}

.course-description {
    flex: 2;
}

.course-description p {
    font-size: 1rem;
    line-height: 1.5;
}


.exercises {
    margin-bottom: 2rem;
}

.exercise {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
}

.exercise h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.exercise p {
    font-size: 1rem;
    line-height: 1.5;
}

.exercise ul {
    list-style-type: disc;
    margin-left: 2rem;
}
